<DOCTYPE html>
<html>
 <head>
   <meta charset='UTF-8' />
   <title>My Stuff</title>
   </head>
   <body>
<h1>Categories</h1>
<ul>
<li>Apparel</li>
<ul>Tees</ul>
<ul>Sweatshirts</ul>
<ul>Pajamas</ul>
<ul>Baseball Hats</ul>
<li>Window Cards and Posters</li>
<li>Music</li>
<ul>MP3</ul>
<ul>Vinyl</ul>
<ul>CD</ul>
<li>Books</li>
<ul>Souvenier Programs</ul>
<ul>Coffee Table Books</ul>
<ul>Sheet Music</ul>
<li>Misc.</li>
<ul>Lights of Broadway Show Cards</ul>
<ul>Jewelry</ul>
<ul>Sippy Cups</ul>
<ul>Beach Towels</ul>
<ul>Magnets</ul>
<ul>Key Chains</ul>
<ul>Cups and Travel Mugs</ul>
<ul>Tote Bags</ul>
<ul>Umbrellas</ul>
<ul>Snow Globes</ul>
<ul>Plush Dolls and Toys</ul>
<ul>Games and Puzzles</ul>
<ul>Ornanments</ul>
   <a href=" /view/new_categories.erb">Add New Stuff</a>
  </body>
</html>