<DOCTYPE html>
<html>
 <head>
   <meta charset='UTF-8' />
   <title>My Stuff</title>
   </head>
   <body>
<h1>Categories</h1>
<ul>
<h2>Apparel</h2>
<li>Tees</li>
<li>Sweatshirts</li>
<li>Pajamas</li>
<li>Baseball Hats</li>
<h2>Window Cards and Posters</h2>
<h2>Music</h2>
<li>MP3</li>
<li>Vinyl</li>
<li>CD</li>
<h2>Books</h2>
<li>Souvenier Programs</li>
<li>Coffee Table Books</li>
<li>Sheet Music</li>
<h2>Misc.</h2>
<li>Lights of Broadway Show Cards</li>
<li>Jewelry</li>
<li>Sippy Cups</li>
<li>Beach Towels</li>
<li>Magnets</li>
<li>Key Chains</li>
<li>Cups and Travel Mugs</li>
<li>Tote Bags</li>
<li>Umbrellas</li>
<li>Snow Globes</li>
<li>Plush Dolls and Toys</li>
<li>Games and Puzzles</li>
<li>Ornanments</li>
   <a href=" /view/new_categories.erb">Add New Stuff</a>
  </body>
</html>