<DOCTYPE html>
<html>
 <head>
   <meta charset='UTF-8' />
   <title>My Stuff</title>
   </head>
   <body>
<h1>Categories</h1>
<ul>
<li>Apparel</li>
<li>Window Cards and Posters</li>
<li>Music</li>
<li>Books</li>
<li>Misc.</li>
   <a href=" /new">Add New Stuff</a>
  </body>
</html>