<!DOCTYPE>
<html>
  <head>
   <meta charset='UTF-8' />
  <title>My Stuff - Add your stuff!</title>
 </head>
 <body>
<h1>List your stuff here!</h1>

  <form method="post" action="/categories">
    <label for="name">Category:</label>
    <input type="text" name="name" />
    <button>Submit</button>
  </form>

  <a href=" /">Back to Index</a>

 </body>
</html>
