<!DOCTYPE>
<html>
  <head>
   <meta charset='UTF-8' />
  <title>My Stuff - Add your stuff!</title>
 </head>
 <body>
<h1>List your stuff here!</h1>
<form method="post" action=" /">
<table>
  <tr>
  <td><label for="category">Category:</label></td>
  <td><input type="text" name="category"></td>
  





  </form>
  <a href=" /">Back to Index</a>
 </body>
</html>
