<h1>Signup for Covet</h1>

<p>Covet is the app that allows you to organize your theatre merchandise and collectibles!</p>

<form method="post" action=" /new"

Name: <input type="text" />
Email: <input type="email" />
Password: <input type="password" />
Password Confirmation: <input type="password" />
</form>