
<h1>Inventories</h1>

  <form method="post" action="/categories/<%= params[:id] %>/inventories">
    <div> Name: <input type="text" name="name" required /> </div>
    <div> Description: <input type="text" name="description" required /> </div> 
    <button>Submit</button>
  </form>


 
